.container_footer {
    background-color: #dadada;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: 500;
    height: 10vh;
    margin-top: auto;
}